body, html {
    /* background-image:url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    
    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

}
#bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }
body {
    margin: 0;
    min-height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1em;
}
@font-face {
    font-family: "Game of Thrones";
    src: url("../font/Game\ of\ Thrones.ttf")
}
h1 {
    font-family: "Game of Thrones";
    letter-spacing: 0.1em;
    margin: 5px;
}
h2.my-4 {
    font-family: "Game of Thrones";
    font-size: 1.75em;
    letter-spacing: 0.1em;
}
.translucent {
    background: rgba(0, 0, 0, 0.5);
}

/* .container-fluid.m-auto {
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */

button.btn.m-auto {
    margin-bottom: 5px;
}